@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}
@mixin mqh($size) {
  @media only screen and (min-height: $size) {
    @content;
  }
}
  
@mixin mqMaxMinHeight($size1, $size2) {
  // iPad Pro w: 1024px & iPhone Plus 6/7/8 h: 736px
  @media only screen and (max-width: $size1) and (min-height: $size2) {
    @content;
  }
}